body{
    background-image: url(https://www.fda.gov/files/covid19-1600x900.jpg);
    background-size: cover;
    text-align: center;
}

form{
    background-color: white;
    margin: 2% 10%;
    padding: 50px;
    border-radius: 20px;
    opacity: 0.8;
}

h1{
    font-size: 50px;
    margin-top: 20px;
    color: white;
}

#submit{
    background-color: teal;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

label{
    font-size: 20px;
}
